 
  body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('Estacionar.jpg'); /* SUA IMAGEM AQUI */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            
            flex-direction: column;
            background-attachment: fixed;
 
        }

.modal-content {
    background-color: hwb(157 20% 7%);
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 95%;
    text-align: center;
    border-radius: 10px;
    word-wrap: break-word; 
    margin-top:68px; 
    box-shadow: 10px 10px 8px;
    font-size: 0.9rem;
    max-width: 100%;
    line-height: 1.6;
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    
}



.logo-modal {
    width: 100px; /* Tamanho do seu logo */
    margin-bottom: 20px;
}

.close {
    color: hsl(0, 87%, 49%);
    float: right;
    font-size: 45px;
    font-weight:lighter;
    cursor: pointer;
    margin-top:1px; 
}

/* Efeito Máquina de Escrever */
.typewriter-text{
    overflow: hidden; /* Esconde o texto que não foi digitado */
    text-align:left;
    margin: 0 auto;
    letter-spacing:0.3mm;
    line-height: 1.1;
    animation: typing 5.5s steps(30, end), blink-caret .75s step-end infinite alternate;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    margin-bottom: 1rem;
    white-space: pre-wrap;    
    margin-top: 10px; 
    max-width: 100%; /* Respeita o container */
    width: 90%;
}

/* Animações */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@media screen and (max-width: 720px) {
    .modal-content {
        background-color: hwb(157 20% 7%);
        margin: 5% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 95%;
        text-align: center;
        border-radius: 10px;
        word-wrap: break-word; 
        margin-top:68px; 
        box-shadow: 10px 10px 8px;
        font-size: 0.4rem;
        max-width: 100%;
        line-height: 1.6;
}


     .modal-body {
        padding: 10px; /* Ajusta o corpo do modal */
  
    
  }
  
}



      
.header {
      background: lch(58.03% 4.37 19.75);
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }

 
 
 
.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
            
  
        }

       label {
            font-weight: bold;
            display: block;
            margin-top: 15px;
        }

        select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }

        textarea {
            width: 99%;
        }


        input#email{
        width: 50%;

        }

    fieldset {

        width: 96%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #101ee6;
     }

        button {
            width: 100%;
            margin-top: 20px;
            padding: 12px;
            background: #007bff;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #0056b3;
        }

.footer {
      background: hwb(0 55% 41%);
      color: white;
      text-align: center;
      padding: 15px;
      font-size: 14px;
    }


   

   

