 
    body {    
      font-family: Arial, sans-serif;
      background: #eef2f7;
      display: flex;
      justify-content: center;
      padding: 25px;
    }
  

    .box_II {
      background: white;
      padding: 25px;
      border-radius: 10px;
      max-width: 550px;
      width: 100%;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      float:left;
    }

    .container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: hwb(44 12% 0%);
  padding: 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
 font-family: sans-serif;
  
}
.container div.menu {
  grid-area: menu;
       background: white;
      padding: 25px;
    
      max-width: 250px;
      width: 100%;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    h2 {
      text-align: center;
    }
    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }
    select, textarea{
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      
    }

     fieldset {

        width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #101ee6;
     }

    input {
        width: 90%;

    }
    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      background: #2e7d32;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: #1b5e20;
    }
    .ok {
      text-align: center;
      color: green;
      margin-top: 10px;
    }

.container div.content {
  grid-area: content;
  /* width: 100%;  Ocupa 80% da largura do pai */
  margin: 0 auto; /* Centraliza */
}
img {
  width: 100%;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}